doctype html
html
    head
        title woggle-app
        link(rel="stylesheet", href="./css/build.min.css")
        script(src="./js/min.build.js")
    body
        .content
            h1= message
            h2 Welcome to woggle app.

            img(src="./assets/logo.jpg", alt="logo")