doctype html
html
    head
        title woggle-app
        link(rel="stylesheet", href="./css/build.css")
        script(src="./js/build.js")
    body
        .content
            h1= message
            h2 Welcome to woggle app